
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                </tr>
          </thead>
          <tbody *ngFor="let item of persons">
              <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.age}}</td>
                  <td>{{item.gender}}</td>
                </tr>
          </tbody>
         
          
        </table>
      </div>
    </div>
  </div>
  
  
</div>
